.blog-card {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 50vw;
  height: 150px;
  margin-top: 5px;
  background-color: white;
  align-items: center;
  border-radius: 5px;
}

.blog-content {
  margin-left: 20px;
}

.img-cont {
  margin-right: 10px;
}

.blog-card img {
  width: 150px;
  height: 150px;
}
