.s-page {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: rgb(36, 39, 36);
  width: 100vw;
  height: 100vh;
  margin: 0;
}

.form-data {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: auto;
  width: 100%;
  max-width: 400px;
  border-radius: 10px;
  background-color: rgb(23, 26, 23);
}

.form-data form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;
  margin-right: 10px;
  width: 90%;
}

.form-data input,
label {
  margin-top: 10px;
  width: 90%;
}

#s-btn {
  background-color: green;
  margin-top: 15px;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

#s-btn:hover {
  transform: scale(1.02);
}

#g-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: whitesmoke;
  color: black;
  font-size: large;
  font-weight: bold;
  border-radius: 15px;
  width: 70%;
  height: auto;
  margin-bottom: 20px;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

#g-btn:hover {
  transform: scale(1.02);
}

#g-btn img {
  margin-right: 5px;
}

#l-btn {
  margin-bottom: 10px;
}
