nav {
  display: flex;
  background-color: rgb(199, 194, 194);
  flex-direction: row;
  align-items: center;
  height: 10vh;
  width: 100vw;
}

.left {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
  width: 50vw;
  height: 100%;
  padding-left: 30px;
}

.right {
  display: flex;
  align-items: center;
  justify-content: end;
  padding-right: 10px;
  width: 50vw;
  height: 100%;
}

#logoName {
  font-family: "playfair Display", serif;
}

input {
  width: 400px;
  height: 40px;
  border-radius: 20px;
  margin-left: 30px;
  padding-left: 20px;
  color: black;
  background-color: white;
  font-size: large;
  font-family: sans-serif;
  font-weight: bold;
}

img {
  width: 30px;
  height: 30px;
}

img:hover {
  cursor: pointer;
  color: whitesmoke;
}

.navLink {
  display: flex;
  color: black;
  font-weight: bold;
  align-items: center;
  flex-direction: row;
  margin-right: 70px;
}

.navLink:hover {
  cursor: pointer;
  color: inherit;
}

.profile-wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
}

.dropProfile {
  position: absolute;
  top: 40px;
  display: flex;
  flex-direction: column;
  background-color: gray;
  width: 150px;
  height: auto;
  border-radius: 5px;
}

.dropProfile p:hover {
  cursor: pointer;
  border: black solid 1px;
}

.logged-user {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.dropProfile p {
  padding: 10px;
  margin: 0;
  font-weight: bold;
  font-size: large;
}

.dropProfile p:hover {
  cursor: pointer;
  color: black;
  background-color: rgb(199, 194, 194);
}

#logout-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 90%;
  width: 20%;
  background-color: transparent;
}
.dropProfile button:hover {
  cursor: pointer;
  background-color: rgb(199, 194, 194);
  border: none;
}

.login-btn {
  display: flex;
  margin: 0;
  width: 100%;
}
.login-btn button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 40px;
  border: none;
  font-weight: bold;
  font-size: x-large;
  background-color: black;
}

.confirmation-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}

.confirmation-dialog {
  width: 400px;
  height: 150px;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
}

.confirmation-buttons {
  display: flex;
  width: 100%;
  justify-content: space-around;
}

.confirmation-buttons button {
  width: 100px;
  height: 40px;
  border: none;
  font-weight: bold;
}

.confirmation-buttons button:hover {
  cursor: pointer;
  background-color: black;
}
