.base {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
}

.s-btn {
  background-color: rgb(23, 22, 22);
}

.s-btn:hover {
  background-color: rgb(15, 14, 14);
}
